<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.poptrox.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/skel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/util.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

    </head>
    <body>
        <div class="page-wrap">

            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/"><span class="icon fa-home"></span></a></li>
                        <li><a href="https://github.com/ArthDh"><span class="icon fa-file-text-o"></span></a></li>
                    </ul>
                </nav>

            <!-- Main -->
                <section id="main">

                    <!-- Gallery -->
                        <section id="galleries">

                            <!-- Photo Galleries -->
                                <div class="gallery">

                                    <!-- Filters -->
                                        <header>
                                            <h1><img src="{{url_for('static', filename='images/pupper.png')}}" alt="PUPPER POWER!" height="25px" width="25px"/>Pupper Portal<img src="{{url_for('static', filename='images/pupper.png')}}" alt="PUPPER POWER!" height="25px" width="25px"/></h1>
                                            <ul class="tabs">
                                                <li><a href="#" data-tag="all" class="button active">All</a></li>
                                                <li><a href="#" data-tag="people" class="button">People</a></li>
                                                <li><a href="#" data-tag="place" class="button">Places</a></li>
                                                <li><a href="#" data-tag="thing" class="button">Things</a></li>
                                            </ul>
                                        </header>
                                        <div class="content">
                                            {% for item in mydict %}
                                                <div class="media all" style="margin:5px">
                                                    <a href="{{item.img_url}}">
                                                        <img src="{{item.img_url}}" alt="{{item.title}}" title="
                                                        <h5>{{item.title}} </h5>
                                                        {{item.summary}}
                                                        <a href='{{item.url}}'> Read more </a>
                                                        " style="border-radius:10px !important;"/>

                                                    </a>
                                                    <div>
                                                        {{item.title}}
                                                    </div>
                                                </div>

                                            {% endfor %}

                                        </div>
                                </div>
                        </section>

                </section>
        </div>



    </body>
</html>
