<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.poptrox.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/skel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/util.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

    </head>
    <body>
        <div class="page-wrap">

            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/"><span class="icon fa-home"></span></a></li>
                        <li><a href="https://github.com/ArthDh"><span class="icon fa-file-text-o"></span></a></li>
                    </ul>
                </nav>

            <!-- Main -->
                <section id="main">

                    <!-- Gallery -->
                        <section id="galleries">

                            <!-- Photo Galleries -->
                                <div class="gallery">

                                    <!-- Filters -->
                                        <header>
                                            <h1>💱Chainalysis Take home💱</h1>
                                        </header>

                                        <div>
                                        <form action="{{ url_for('exchange') }}" method="post">
                                        
                                            <div style="width: 25%;float: left" >
                                                Exchange 1
                                                    <select name="exchange1" >
                                                    {% for item in exchanges %}
                                                        <option  value={{item}}>{{item}} </option>
                                                    {% endfor %}
                                                    </select>
                                            </div >
                                            <div style="width: 25%;float: left" >
                                                Exchange 2
                                                    <select name="exchange2" >
                                                    {% for item in exchanges %}
                                                        <option  value={{item}}>{{item}} </option>
                                                    {% endfor %}
                                                    </select>
                                            </div >
                                            <div  style="width: 50%">
                                                Coin
                                                <form>
                                                    <select name="coins" >

                                                    {% for key, item in coins.items() %}
                                                        <option type="checkbox" value={{item}}>{{item}} </option>
                                                    {% endfor %}
                                                    </select>

                                            </div>


                                            <input type="submit" value="Submit" style="margin-top: 5em;">

                                        </form>
                                        

                                        </div>
                                        <div style="height:5em;">
                                            {% if comparision!=None %}
                                                <div>
                                                    {% for key, item in comparision.items() %}
                                                        <h1>{{key}}</h1>
                                                        <div>
                                                        <h3>Open: {{item[0]}} Close: {{item[1]}}</h3>
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            {% else %}
                                            {% endif %}
                                            {% if comparision!=None %}
                                            <div>
                                                <h1>Recommendation</h1>
                                                <h3>
                                                    Buy on {{rec[0]}} at <div style="color:green">{{rec[2]}}</div> 
                                                    Sell on {{rec[1]}} at <div style="color:red">{{rec[3]}}</div> <br>
                                                    Profit: 
                                                    <div style="color:green"> ${{rec[4]}}</div>
                                                </h3>
                                            </div>
                                            {% endif %}
                                        Exchanges that support both BTC and ETH : aax, bequant, bibox, binanceusdm, huobi, huobipro, latoken

                                        </div>
                                </div>
                        </section>

                </section>
        </div>



    </body>
</html>
